.btn-primary {
    color: black;
    letter-spacing: 1px;
    line-height: 15px;
    border: 1px solid black;
    background: transparent;
    padding: 8px;
    margin: 3px 2px;
    transition: all 0.1s ease 0s;
  }
  
  .btn-primary:hover, .btn-secondary:hover {
    color: #FFF;
    background: black;
    border: 1px solid black;
  }

  .btn-secondary {
    color: black;
    letter-spacing: 1px;
    line-height: 15px;
    border: 1px dashed black;
    background: transparent;
    padding: 8px;
    margin: 3px 0px;
    transition: all 0.1s ease 0s;
  }
  
  .btn-dark {
    color: white;
    letter-spacing: 1px;
    line-height: 15px;
    border: 1px dashed black;
    background: black;
    padding: 8px;
    margin: 3px 0px;
    transition: all 0.1s ease 0s;
  }
  
  .ts-1 {
    margin: 0px;
  }

#hero4 {
  margin: 0;
  height: 80vh;
  width: 100vw;
  object-fit: cover;
}

  #hero1, #hero2, #hero3 {
    margin: 0;
    height: 80vh;
    width: 100vw;
    object-fit: cover;
    -webkit-animation: thing 20s;
    -o-animation: thing 20s;
    animation: thing 20s; 
  }
  @keyframes thing {
    from {
       transform: scale(1, 1);
    }
    to {
      transform: scale(1.2, 1.2);
    }
  }

  a .mt-1{
    color: black;
    text-decoration: none

  }

  .carousel-caption {
    color: black;
  }

  .carousel-caption h1, .carousel-caption p{
    text-shadow: 0 0 12px #ffffff;
  }