.stretched-link {
    background: transparent;
    border: none !important;
    font-size:0;
    height: 0;
    width: 0;
}

/* When the screen height is smaller than 500px */
@media (max-height: 900px) {
  @media (min-width: 1140px) {
    .modal-xl {
        max-width: 60%;  /* You can also adjust for .modal-xl */
    }
  }
}

/* Apply a blur effect to the body when the modal is active
.modal-backdrop {
  backdrop-filter: blur(20px);
  background-color: transparent !important;
}

body.modal-open {
  overflow: hidden; 
}

.blur-background {
  filter: blur(8px); 
}
*/
.modal-backdrop {
  background-color: transparent !important;
}

body.modal-open {
  overflow: hidden; /* Prevent scrolling */
}

body.modal-open::before {
  content: ''; /* Make it an empty pseudo-element */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.3); /* Optional, you can adjust the transparency */
  backdrop-filter: blur(6px); /* Apply blur to the entire background */
  z-index: 1040; /* Ensure it's placed behind the modal */
  pointer-events: none; /* Prevent it from blocking interactions */
  opacity: 1; 
  transition: opacity 0.5s ease, backdrop-filter 0.5s ease;
}


.badge {
    color: rgb(226, 55, 55);
}

.btn-primary {
    color: black;
    letter-spacing: 1px;
    line-height: 15px;
    border: 1px solid black;
    background: transparent;
    padding: 8px;
    margin: 3px 2px;
    transition: all 0.1s ease 0s;
  }
  
  .btn-primary:hover, .btn-secondary:hover {
    color: #FFF;
    background: rgb(0, 0, 0);
    border: 1px solid black;
    transform: scale(1.03);
  }

  .btn-secondary {
    color: black;
    letter-spacing: 1px;
    line-height: 15px;
    border: 1px dashed black;
    background: transparent;
    padding: 8px;
    margin: 3px 0px;
    transition: all 0.1s ease 0s;
  }
  
  .btn-dark {
    color: white;
    letter-spacing: 1px;
    line-height: 15px;
    border: 1px dashed black;
    background: black;
    padding: 8px;
    margin: 3px 0px;
    transition: all 0.1s ease 0s;
  }

  .btn-dark:hover {
    transform: scale(1.03);
    background-color: rgb(0, 0, 0);
  }

  
  .ts-1 {
    margin: 0px;
  }

#hero4 {
  margin: 0;
  height: 80vh;
  width: 100vw;
  object-fit: cover;
}

  #hero1, #hero2, #hero3 {
    margin: 0;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    -webkit-animation: thing 20s;
    -o-animation: thing 20s;
    animation: thing 20s; 
  }
  @keyframes thing {
    from {
       transform: scale(1, 1);
    }
    to {
      transform: scale(1.2, 1.2);
    }
  }


  a .mt-1{
    color: black;
    text-decoration: none

  }

  .carousel-caption {
    color: black;
  }

  .carousel-caption h1, .carousel-caption p{
    text-shadow: 0 0 12px #ffffff;
  }

  .youtube-player {
    position: absolute;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
  }
  
  .youtube-player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: transparent;
  }
  
  .youtube-player img {
    object-fit: cover;
    display: block;
    left: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    height: auto;
    cursor: pointer;
    -webkit-transition: 0.4s all;
    -moz-transition: 0.4s all;
    transition: 0.4s all;
  }
  
  .youtube-player img:hover {
    -webkit-filter: brightness(75%);
    -moz-filter: brightness(75%);
    filter: brightness(75%);
  }
  
  .youtube-player .play {
    height: 48px;
    width: 68px;
    left: 50%;
    top: 50%;
    margin-left: -34px;
    margin-top: -24px;
    position: absolute;
    background: url("https://i.ibb.co/j3jcJKv/yt.png") no-repeat;
    cursor: pointer;
  }
  
  .card, .bi-linkedin, .bi-envelope-fill, .bi-github {
    transition: transform .2s;
  }
  .card:hover, .bi-linkedin:hover, .bi-envelope-fill:hover, .bi-github:hover{
    transform: scale(1.03);
  }

  #preview1, #preview2, #preview3 {
    width: 100%;
    transition: transform .2s;
    align-items: center;
    animation: rotation 15s infinite linear;
  }

  #preview1:hover, #preview2:hover, #preview3:hover {
    transform: scale(1.03);
  }

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust as needed */
    transform: translate(-50%, -22%);
  }

  @media (min-width: 768px) {
    .mainLogo, .ring1, .ring2 {
      position: absolute;
      height: 50%;
      align-items: center;
    }
  }
  


/* new stuff */

.ring1 {
  animation: rotation 30s infinite linear;
}

.ring2 {
  animation: rotation2 30s infinite linear;
}


  .mainLogo, .ring1, .ring2 {
    position: absolute;
    width: 100%;
    /* transform: translate(-50%, -50%); */
    align-items: center;
    
  }

  @keyframes rotation {
    
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(180deg);
    }
  }
  @keyframes rotation2 {
    0% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }